<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.OwnerCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.pojo.OwnerCar">
        <id column="ID" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="car_id" property="carId" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID , owner_id ,car_id
    </sql>

</mapper>